.keys {
    display: flex;
    flex-wrap: wrap;
}

.key {
    flex: 1 1 0;
    transition: all 0.07s;
    border: 1px solid black;
    padding: 2em;
    margin: 1.5em;
}

.playing {
    transform: scale(1.1);
    border-color: red;
    box-shadow: 0 0 5px black;
}

