body {
    background-color: black;
}

.frames {
    display: flex;
    border: 8px solid grey;
    background-color: #aaa;
    width: 80vw;
    height: 90px;
    margin: 0 auto;
    transform: perspective(160rem) rotateX(35deg);
}

.left.frame, .right.frame {
    position: relative;
}

.background, .foreground {
    position: absolute;
}

.background {
    width: 90%;
    height: 100%;
}

.left .background {
    left: 0;
}

.right .background {
    right: 0;
}

.foreground {
    width: 66%;
    height: 80%;
}

.left .foreground {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.right .foreground {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}


.frame {
    margin: 4px;
    transition: all 0.07s;
    background-color: var(--base);
}

.left, .right {
    flex: 1 1 0;
}

.middle {
    flex: 3 1 0;
}

.background {
    background-color: #555;
}

.foreground {
    background-color: var(--base);
}

.middle.frame {
    background-image: linear-gradient(
        var(--darker),
        var(--darker) 45%,
        var(--base) 45%,
        var(--base) 55%,
        var(--darker) 55%
    );
    border: 8px solid var(--base);
}

.orange {
    --base: orange;
    --darker: rgb(134, 87, 0);
}

.red {
    --base: red;
    --darker: rgb(141, 0, 0);
}

.yellow {
    --base: yellow;
    --darker: rgb(145, 145, 3);
}

.blue {
    --base: blue;
    --darker: rgb(0, 0, 141);
}

.green {
    --base: green;
    --darker: rgb(1, 59, 1);
}


.keys {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

.key {
    flex: 1 1 0;
    transition: all 0.07s;
    border: 1px solid black;
    padding: 2em;
    margin: 1.5em;
}

.playing {
    transform: scale(1.1);
    border-color: red;
    box-shadow: 0 0 5px black;
}

